# Mobile App for Lottery Addiction
This project aims to build the logical core of an app we are building to help people fight lottery addiction.

In [21]:
def factorial(n):
    final_product = 1
    for i in range(n, 0, -1):
        final_product *= i
    return final_product

def permutation(n, k):
    numerator = factorial(n)
    denominator = factorial(n-k)
    return numerator/denominator

def combination(n, k):
    numerator = permutation(n, k)
    denominator = factorial(k)
    return numerator/denominator

In [22]:
def one_ticket_probability(array):
    total_outcomes = combination(49, 6)
    probability = 1/total_outcomes
    print('Your probability of winning the grandslam with {} is {}%.'.format(array, probability*100))
    return probability
#work on the string formatting in a pressentable manner

one_ticket_probability(['4','5', '6'])

Your probability of winning the grandslam with ['4', '5', '6'] is 7.151123842018516e-06%.

7.151123842018516e-08

Add some context for your readers to explain what you did in this step and why.

.........

In [23]:
import pandas as pd
six_four_nine = pd.read_csv('649.csv')

print(six_four_nine.shape)

(3665, 11)

In [24]:
six_four_nine.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [25]:
six_four_nine.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [36]:
def extract_numbers(row):
    row = row[4:10]
    r = set(row.values)
    return r

winning_numbers = six_four_nine.apply(extract_numbers, axis=1)

In [37]:
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [38]:
def check_historical_occurence(user_numbers, series):
    user_numbers = set(user_numbers)
    past_occurence = series == user_numbers
    no_past_occurence = past_occurence.sum()
    print("{} has occurred a total of {} times since the beginning of Candian lotteries".format(user_numbers, no_past_occurence))
    print("Given this historical precedence, the probability of winning with this combination is {}.".format(no_past_occurence/len(series)))

In [40]:
# Checks
check_historical_occurence([1, 6, 39, 23, 24, 27], winning_numbers)

{1, 6, 39, 23, 24, 27} has occurred a total of 1 times since the beginning of Candian lotteries
Given this historical precedence, the probability of winning with this combination is 0.00027285129604365623.

Add some context for your readers to explain what you did in this step and why.

In [41]:
def multi_ticket_probability(no_tickets):
    no_successful = no_tickets #no. of tickets rep. desired no. of successful outcomes
    total_outcomes = combination(49, 6)
    probability = no_successful/total_outcomes
    print('Your probability of winning the grandslam with {} tickets is {}%.'.format(no_tickets, probability*100))
    return probability

In [42]:
multi_ticket_probability(1)

Your probability of winning the grandslam with 1 tickets is 7.151123842018516e-06%.

7.151123842018516e-08

In [43]:
multi_ticket_probability(10)

Your probability of winning the grandslam with 10 tickets is 7.151123842018517e-05%.

7.151123842018516e-07

In [44]:
multi_ticket_probability(6991908)

Your probability of winning the grandslam with 6991908 tickets is 50.0%.

0.5

In [45]:
multi_ticket_probability(1345678)

Your probability of winning the grandslam with 1345678 tickets is 9.623110029479793%.

0.09623110029479794

Context and Explanation

Explanations for the successful_outcomes variable below.

In [48]:
def probability_less_6(x):
    # x - an integer between 2 and 5
    successful_outcomes = combination(6,x)*(49 - x)
    total_outcomes = combination(49, 6)
    probability = successful_outcomes/total_outcomes
    print('Your probability of winning something with {} numbers is {}%.'.format(x, probability*100))
    return probability
#add functionality so that function only takes value between 2 and 5

In [52]:
probability_less_6(5)

Your probability of winning something with 5 numbers is 0.0018878966942928882%.

1.887896694292888e-05

Add some context for your readers to explain what you did in this step and why.

Possible features for a second version of the app include:

    * Making the outputs even easier to understand by adding fun analogies (for example, we can find probabilities for strange events and compare with the chances of winning in lottery; for instance, we can output something along the lines "You are 100 times more likely to be the victim of a shark attack than winning the lottery").
    * Combining the one_ticket_probability() and check_historical_occurrence() to output information on probability and historical occurrence at the same time.
    * Creating a function similar to probability_less_6() which calculates the probability of having at least two, three, four or five winning numbers. Hint: the number of successful outcomes for having at least four winning numbers is the sum of these three numbers:
        - The number of successful outcomes for having four winning numbers exactly
        - The number of successful outcomes for having five winning numbers exactly
        - The number of successful outcomes for having six winning numbers exactly